@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'kanit';
}

.header{
    background-image: url('/pics/premium_photo-1681487769650-a0c3fbaed85a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(13, 13, 14, 0.5);
    background-blend-mode: multiply;
    background-attachment: fixed;
    .header-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1{
        align-self: center;
        font-family: 'kanit';
        font-style: normal;
        font-size: 50px;
        font-weight: 400;
    }
    p{
        align-self: center;
        font-family: 'kanit';
        font-style: normal;
        font-size: 20px;
        font-weight: 400;        
    }
    .authButtons{
        margin: 0.5rem;
        button{
            padding: 10px;
            width: 8rem;
            border-radius: 14px;
            border: none;
            margin: 1rem;
            &:hover{
                background-color: #C8E6C9;
                color: #fff;
            }
        }
    }
}

.navbar{
    position: absolute;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    padding: 0.5rem;
    border: 1.5px solid #fff;
    border-radius: 16px;
    margin: 2rem auto;
    top: 10px;
    color: #fff;
    .nav-logo{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2rem;  
        h1{
            display: flex;
            align-items: center;
            justify-content: flex-start;  
        }      
    }
    .nav-items{
        display: flex;
        align-items: center;
        justify-content: flex-end;  
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            top: 10px;
        }
        li{
            list-style-type: none;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            padding: 1.5rem;
            font-size: 18px;
            font-family: 'raleway';
            color: #fff;
            font-family: 'kanit';
            cursor: pointer;
        }    
        button{
            padding: 10px;
            width: 8rem;
            border-radius: 14px;
            border: none;
            &:hover{
                background-color: #C8E6C9;
            }            
        }    
    }
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
    .about-contents{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;        
    }
    h1{
        border-bottom: 2px solid #C8E6C9;
        margin: 1rem;
    }
    p{
        width: 50rem;
    }
    img{
        height: auto;
        width: 40rem;
    }
}

.contact{
    font-family: 'kanit';
    display: flex;
    flex-direction: column;
    width: 100%;
    .contact-header{
        width: fit-content;
        margin: 2rem;
        h1{
            font-weight: 400;
            border-bottom: 2px solid #C8E6C9;
        }
    }
    .contact-items{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        margin: 2rem;
        a{
            text-decoration: none;
            color: #000;
        }
    }
}

.footer{
    background-color: #808080;
    width: 100%;
    height: 15vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-family: 'kanit';
        width: 100%;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
}

.authform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #808080;
    width: fit-content;
    border-radius: 14px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #ffffffdd;
    .authform-email{
        border-bottom: 1px solid #808080;
    }
    .text-input{
        display: flex;
        flex-direction: column;
    }
    input{
        margin: 1rem;
        padding: 10px;
    }
    button{
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 14px;
        border: none;
        width: 9rem;
        align-self: center;
        &:hover{
            background-color: #C8E6C9;
            color: #fff;
        }
    }
    a{
        color: #000;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            color: #b3e3b4;
        }
    }
}
.authform-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 100vh;
    background-image: url('/pics/premium_photo-1681487769650-a0c3fbaed85a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
.profile-image {
    position: relative; 
    overflow: hidden;

    img {
      width: 120px;
      height: 120px;
      background-color: #fff;
      border-radius: 100px;
      border: 3px solid #0007;
      object-fit: cover;
    }

}
    button {
      position: absolute;
      bottom: -1; // place at bottom
      right: -1;  // place at right
      transform: translate(120%, 120%);
      background-color: #fff;
      border: none;
      border-radius: 50%;
      padding: 6px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #f0f0f0;
      }

      i {
        font-size: 16px;
        color: #333;
      }
    }
    .profile-name{
        h1{
            align-self: center;
            font-size: 24px;
            font-family: 'Kanit', sans-serif;
        }
    }
}

.sidebar{
    height: 100vh;
    width: 17%;
    overflow: hidden;
    background-color: #F1F5FB;
    color: #504f4f;
}

.sidebar-items{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #808080;
    ul{
        margin: 2.5rem;
    }
    li{
        padding: 1rem;
        margin: 1rem;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            background-color: #347CFF;
            color: #fff;
        }
    }
}

.settings-items{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    ul{
        margin: 0.5rem;
    }
    li{
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            background-color: #347CFF;
            color: #fff;
        }
    }    
}

.mainpage{
    display: flex;
    flex-direction: row;
}

.mainContainer{
    width: 83%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chooseBank{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #F1F5FB;
    border-radius: 16px;
    padding: 0.5rem;

    button{
        padding: 15px;
        border-radius: 16px;
        width: 120px;
        margin: 1.5rem;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
    .banksToChoose{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .cancleChooseBank{
        &:hover{
            background-color: #cc1100;
            color: #fff;
        }
    }
    .connectKasikorn{
        &:hover{
            background-color: #90EE90;
        }
    }
    .connectKrungsri{
        &:hover{
            background-color: #FFFF8F;
        }
    }
}